


.navbarx {
    /* background-color: rgb(49, 88, 201); */
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 99;
  }
  
  .menu-bars {
    margin-left: 0.05rem;
    font-size: 2rem;
    background: none;
  }
  
  .nav-menu {
    /* background-color:  rgb(49, 88, 201); */
    /* width: 250px; */
    /* height: 100vh; */
    display: flex;
    /* justify-content: center; */
    position: fixed;
    /* top: 90px ; */
    left: -100%;
    transition: 750ms;
    z-index: 9999;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 250ms;
  }
  

 
  .navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
  }