body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousel-caption {
/* border: solid 1px blue; */
background-color: rgba(10,10,10,0.7);
}

.spinner-grow{
width: 1rem !important;
height: 1rem !important;
}
.btn-primary{
    min-width: 100px;
}

:is(header, main, footer) p:hover {
    color: red !important;
    cursor: pointer !important;
  }

/* .carrouselBox{ */
    /* display:flex; */
    /* border: solid 1px blue; */
    /* height: 50px; */
    /* width: 100%; */
/* } */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }